<% if flash[:notice]%>
<div class="alert alert-success" role="alert">
		<%= flash[:notice] %>
	</div>
<%end%>



<div style="text-align: center">
	<h1>
		Cadastro Clientes
	</h1>

	<div style="margin: 15px 0 5px 0">
		<%= link_to "Cadastrar", clientes_new_path, class: "btn btn-primary"%> 		
	</div>
	<div style="margin: 15px 0 5px 0">
		<%= link_to "Lista de Cadastros", clientes_show_path, class: "btn btn-primary"%>		
	</div>    
</div>