<% if flash[:notice]%>
<div class="alert alert-success" role="alert">
		<%= flash[:notice] %>
	</div>
<%end%>



<form style="text-align: center; border: 1px solid gray;">
	<h1>
		Cadastro cliente
	</h1>

	<div style="margin: 5px 0 5px 0">
		<%= link_to "Cadastro", clientes_new_path, class: "btn btn-primary"%> 		
	</div>
	<div style="margin: 5px 0 5px 0">
		<%= link_to "Listagem", clientes_show_path, class: "btn btn-primary"%>		
	</div>    
</form>